{% extends 'base.html.twig' %}

{% block title %}Proverb index{% endblock %}

{% block body %}
    <h1>Proverb index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Auteur</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proverb in proverbs %}
            <tr>
                <td>{{ proverb.id }}</td>
                <td>{{ proverb.title }}</td>
                <td>{{ proverb.auteur }}</td>
                <td>{{ proverb.category.label }}</td>
                <td>
                    <a href="{{ path('proverb_show', {'id': proverb.id}) }}">show</a>
                    <a href="{{ path('proverb_edit', {'id': proverb.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('proverb_new') }}">Create new</a>
{% endblock %}
